<h2>Student Edit</h2>

<hr/>

<form #studentForm="ngForm">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Student:</label>    
        <div class="col-sm-10">
            <input [(ngModel)]="student.name" required name="student" #studentName="ngModel" [ngClass]="{'is-invalid': studentName.invalid}" class="form-control">

            <div class="invalid-feedback">
                <span>Student student is required</span>
            </div>
        </div>        
    </div>

    <button style="width: 5vw;" [routerLink]="['/students']" class="btn btn-secondary mr-2">Back</button>
    <button style="width: 5vw;" [disabled]="studentForm.invalid" (click)="save()" class="btn btn-primary">Save</button>
</form>