/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    background-color: #F5F5F5;
}

fieldset {
    border: 1px solid #999;
    padding: 10px;
    border-radius: 5px;
}

button {
    width: 5rem;
}

#container-imagem {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    background: url('assets/images/school.jpg') no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-size: cover;
}